body {
    font-family: Arial, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #05031e;
}

.gallery-container {
    width: 60%;
    max-width: 800px;
    text-align: center;
    margin-left: 280px;
    margin-top: 10px;
}

.image-display {
    margin-bottom: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.image-display img {
    width: 100%;
    max-height: 500px;
    border: 2px solid #ddd;
    border-radius: 10px;
    object-fit: contain;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.thumbnails img {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.thumbnails img:hover {
    transform: scale(1.1);
}
/* old one */
/* .navigation button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
} */
:root {
    --transparent: oklch(0 0 0 / 0%);
    --purple-100: oklch(0.86 0.08 280);
    --purple-200: oklch(0.82 0.06 280);
    --purple-300: oklch(0.71 0.12 280);
    --purple-400: oklch(0.61 0.18 280);
    --purple-500: oklch(0.5 0.21 280);
    --purple-600: oklch(0.42 0.18 280);
    --purple-800: oklch(0.25 0.15 280);
    --purple-900: oklch(0.13 0.06 280);
    --purple-900: oklch(0.13 0.06 280);
  }
.navigation button {
    position: relative;
    z-index: 1;
    background: var(--purple-900);
    border: 3px solid;
    border-color: var(--purple-400);
    border-radius: 0.75rem;
    color: var(--purple-300);
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: 250ms ease-in-out;
    transition-property: all;
  }
  
  .navigation button:hover,
  .navigation button:focus {
    color: var(--purple-200);
    background-color: var(--purple-800);
    transform: scale(1.1);
  }
  .Nav{
display: flex;
background-color:#000019;
height:50px;
width:100%;
margin-top: 0px;
justify-content:first baseline;
align-items: center;
/* align-items: flex-start; */

  }
p{
    font-size: 20px;
    font-family: Gotham;
    color: var(--purple-400);
margin-left: 10px;
font-weight: bold;

  }
  /* old one */
/* .navigation button:hover {
    background-color: #0056b3;
} */
